section {
  margin-bottom: 2rem; 
}

.gloss {
  background-color: azure !important;
  /* setting the color correctly in print is tough, let's make that a TODO */
  /* https://stackoverflow.com/questions/32950554/css-color-property-not-working-correctly-on-media-print */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  background-color: white !important;
  box-sizing: border-box !important;
  border-right: 2px solid black !important;
}

.dropdown-toggle {
  margin-left: 1px !important;
}

#builtin-datasets {
  min-width: 500%;
}

#builtin-featuresets {
  min-width: 300%;
}

.builtins-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.builtins-cell{
  width: 20% !important;
}

@media print {
  #main-container {
    margin: 0%;
  }
}